   /*colores y tipografía*/
:root {
--black: rgb(34,34,34);
--orange: rgb(233,164,0);
--red: rgb(214,40,40);
--beige: rgb(242,239,234);
--ocre: rgb(201,140,0);
--white: rgb(255,255,255);
--font: 'Fira sans', sans-serif;
}

/*general*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    text-align: left;
    background-color: var(--beige);
    display: block;
}

.bg{
    background: url("../img/bg-home.jpg") top / cover no-repeat fixed;
}

footer{
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 3rem;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--ocre);
}

hr {
    border: none;
    border-top: 1px solid var(--ocre);
    margin: 0.2rem 3rem;
}

.pag-actual {
    font-weight: 700;
}
  
/*header*/
header {
    margin-top: 15px;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
} /* Navegación horizontal sin viñetas */
  
.nav-menu a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: var(--black);
}
  
.nav-menu a:hover {
    color: var(--ocre);
}
  
.l-vert {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0.8rem 0;
}
  
.l-vert .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    gap: 0.5rem;
}

.nav-menu li {
    position: relative;
    padding: 0 0.5rem;
}
  
.nav-menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15%;
    height: 70%;
    width: 1.5px;
    background-color: var(--ocre);
}
  

/*index*/
.and::before{
    color: var(--ocre);
    content: '&';
}


  