/*COLORES Y TIPOGRAFÍA*/
:root {
--black: rgb(34,34,34);
--orange: rgb(233,164,0);
--red: rgb(214,40,40);
--beige: rgb(242,239,234);
--ocre: rgb(201,140,0);
--white: rgb(255,255,255);
--font: 'Fira sans', sans-serif;
}


/*****GENERAL*****/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--black);
    font-weight: 400;
    text-align: left;
    background-color: var(--beige);
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;      /* Asegura que el main ocupe el espacio restante */
    padding: 0 2rem;   /* Ajusta el espacio interior del main */
    margin: 0 auto;    /* Centra el main si es necesario */
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 3rem;
}

.pag-actual {
    font-weight: 700;
}

abbr {
    cursor: help; 
}

.titular-h2 {
    text-align: center;
}

.h2 {
    color: var(--orange);
    font-size: 45px;
    font-weight: 900;
}

.texto-h2 {
    font-size: 25px;
    font-weight: 400;
}


/*****LÍNEAS HORIZONTALES*****/
h1::after,
header::after,
footer::before,
.titular-h2::before {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background-color: var(--ocre);
    margin: 1rem auto;
}

.titular-h2::before  {
    height: 0.5px;
}


/*****HEADER*****/
header {
    margin-top: 15px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}                          /* Navegación horizontal sin viñetas */
  
.nav-menu a {
    font-size: 15px;
    text-decoration: none;
    color: var(--black);
}
  
.nav-menu a:hover {
    color: var(--ocre);
}
  
.l-vert {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0.8rem 0;
}
  
.l-vert .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    gap: 0;
}

.nav-menu li {
    position: relative;
    padding: 0;
}

.nav-menu li a {
    padding: 0 10px;
    display: inline-block;
}
  
.nav-menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 1.5px;
    background-color: var(--ocre);
    will-change: transform, width;
}
  

/*****FOOTER*****/
footer{
    text-align: center;
    color: var(--black);
    margin-top: auto;
    margin-bottom: 20px;
}

footer p:last-child{
    font-size: 13px;
}
                             /* Enlaces dentro de los párrafos del footer */
footer p a {
    color: var(--red); /* Color normal del enlace (rojo) */
    text-decoration: none; /* Sin subrayado */
}

footer p a:hover {
    color: var(--ocre); /* Cambia el color del texto a ocre cuando se hace hover */
}


/*****ENALCES*****/
a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--ocre);
}


/*****INDEX.HTML*****/
.bg{
    background: url("../img/bg-home.jpg") top / cover no-repeat fixed;
}

.and::before{
    color: var(--ocre);
    content: '&';
}

/* Si tienes un contenedor en article o main, asegúrate de que tenga un max-width */
article.container {
    margin: 8rem auto 0 auto; 
}

#h2-index {
    font-weight: 900;
    font-size: 70px;
    position: relative; /* Necesario para colocar los puntos con ::before */
    padding-bottom: 8px; /* Añadido para darle un espacio a los puntos */
    border-bottom: 8px dotted; /* Cambié el borde para que se vea más grueso */
    margin: 0 auto;
}

#p1 {
    font-weight: 700;
    font-size: 70px;
    padding-top: 20px;
}

#p2 {
    font-weight: 400;
    font-size: 35px;
    padding-top: 10px;
}


/*****NOSOTROS.HTML*****/

h3 {
    font-weight: 900;
    font-size: 47px;
}